body {
    margin: 0;
}

header {
    text-align:center;
    padding:70px 0;
}

nav {
    background-color: #333;
    width: 100%;
/*    margin-left: -10px;*/
    line-height:50px;
    position: relative;
}

form {
    margin: auto;
    width: 75%;
}
/*TEST */


.centerBtnForm{
    margin: auto;
    width: 50%;
}

.barContainer {
    display: none;
    cursor: pointer;

}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.navName{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding-right: 20px;
    padding-left: 20px; 
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
}

.navName span{
    color:  #4CAF50;
}

#wrapper {
    width:100%;
    margin: 0 auto;
}



#content {
    background: #fff;
    height: 1500px; /* presetting the height */
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    width: 85%;
    margin: auto;
    margin-top: 100px;
}

.fixed {
    position:fixed;
}
/* END TEST */

.blackText {
    color:black;
}

.company{
    color: #333;
    padding-right: 20%;
    padding-left:20%;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
 }


nav.navbar{
  /*background-color:#ccc;*/
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  top: -0.5%;
}

nav.main-navbar.shrink{
  line-height: 36px;
}

nav.main-navbar.shrink .navName{
    font: normal 30px 'Cookie', cursive;
}

nav.main-navbar{
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  top: -0.5%;
  z-index: 9999;
}

/* Pals content */
.picture-links {
    text-align:center;
}



.wrap {
    position: relative;
    display: inline-block;
}

.img-name {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    font-weight: bold;
    line-height: 2em;
}

.wrap:hover .img-name {
  display: block;
}

/* End pals content */ 
/* ASS */

ul.topnav {
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

ul.topnav li {float: left;}

ul.topnav li .dropbtn:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {
    float: right;
}


li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.link-dropdown:hover .dropdown-content {
    display: block;
}

.carousel-indicators{
    position: none !important;
}

.carousel-indicators li{
    border: 1px solid #333 !important;
}

.carousel-indicators .active{
    background-color: #4CAF50  !important;
}



/* End ass */

.stuff{
   text-align: center;
}

@media screen and (max-width: 645px){
    ul.topnav li.right, 
    ul.topnav li, ul.topnav , li a, .dropbtn {
        float: none;
        width: 100%;
        margin: 0;
    }

    .dropdown-content{
        min-width: 25%;
    }
    .dropdown-content a:hover {
        background-color: none;
        text-decoration: underline;
    }

    #content{
	   margin-top: 100px;
    }

    .barContainer {
        display: inline-block;
        cursor: pointer;
        float: right;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .nonMobile{
        display: none;
    }
	
}



/*Footers... */

.footer-distributed{
    background-color: #333;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    position: relative;
    padding: 55px 50px;
    margin-top: 80px;

}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #4CAF50;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}

.footer-icons a:hover {
    background-color: #111;
}

.footer-links a:hover {
    text-decoration: underline;
}

footer{
    position: fixed;
    bottom: 0;
}

@media (max-height:800px){
    footer { position: static; }
    header { padding-top:40px; }
}


/** adding about pge and timeline css**/



.page-header, .meet_us {
    text-align: center;
    vertical-align: middle;
    font-size:0.5em;
}
#timeline {
  list-style: none;
  position: relative;
}
#timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #4997cd;
  left: 50%;
  margin-left: -1.5px;
}
#timeline .clearFix {
  clear: both;
  height: 0;
}
#timeline .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -25px;
  background-color: #4997cd;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
  font-size: 1.4em;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
  font-size: .7em;
  position: relative;
  top: -10px;
}
#timeline .timeline-badge.timeline-filter-movement {
  background-color: #ffffff;
  font-size: 1.7em;
  height: 35px;
  margin-left: -18px;
  width: 35px;
  top: 40px;
}
#timeline .timeline-badge.timeline-filter-movement a span {
  color: #4997cd;
  font-size: 1.3em;
  top: -1px;
}
#timeline .timeline-badge.timeline-future-movement {
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  font-size: 1.7em;
  top: -16px;
  margin-left: -18px;
}
#timeline .timeline-badge.timeline-future-movement a span {
  color: #4997cd;
  font-size: .9em;
  top: 2px;
  left: 1px;
}
#timeline .timeline-movement {
  border-bottom: dashed 1px #4997cd;
  position: relative;
}
#timeline .timeline-movement.timeline-movement-top {
  height: 60px;
}
#timeline .timeline-movement .timeline-item {
  padding: 20px 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #666;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
  text-align: right;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
  color: #666;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
  color: #468c1f;
  font-size: 1.3em;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
  text-align: left;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
  color: #468c1f;
  font-size: 1.3em;
}


/************non-timeline**************************************************/

#MU {
    color: #333;
}

#img {
    border-radius: 5px;
}


.the_guys {
    font-size: 24px;
    color:#333;
    text-transform: uppercase;
    margin: 10px;
}

.jobD {
    font-size: 17px;
    color: #8f9296;
}

.team {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-size: 17px;
    color: #8f9296;
}

.h1, h1 {
    font-size: 25px;
    text-align: center;
}

.wrapP {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 300px;
    height: 100%;
    display: inline-block;
}

/**/

.wrapP, .team_pics{
    text-align:center;
}

@media (max-width: 1000px) {

    #myCarousel{
      display: none;
    }

}
